/* ===== VARIABLES ET RÉINITIALISATION ===== */
:root {
    --pastel-vert: #a5ffa5;
    --noir-fonce: #0a0a0a;
    --noir-moyen: #1c1c1c;
    --noir-tres-fonce: #000;
    --gris-clair: #f2f2f2;
    --gris-moyen: #ccc;
    --gris-fonce: #ddd;
    --texte-sombre: #111;
    
    --transition-rapide: 0.3s ease;
    --transition-moyenne: 0.4s ease;
    --transition-lente: 0.5s ease;
    
    --ombre-legere: 0 0 25px rgba(165, 255, 165, 0.45);
    --ombre-intense: 0 0 40px rgba(165, 255, 165, 0.7);
    --ombre-texte: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

/* ===== RESPONSIVE WEB DESIGN ===== */

img, video {
  max-width: 100%;
  height: auto;
}

h1 { 
  font-size: clamp(2rem, 1.75rem + 1vw, 2.5rem); 
}

/* Styles de base (Mobile First) */
.colonne { 
  width: 100%; 
}

/* Point de rupture pour les écrans plus grands */
@media (min-width: 768px) {
  .colonne { 
    width: 33%; 
  }
}
